# Go 소스 파일 처리
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# Shell 스크립트 처리
*.sh text eol=lf

# Windows 스크립트 처리
*.bat text eol=crlf
*.cmd text eol=crlf

# 문서 처리
*.md text
*.txt text
LICENSE text

# 이진 파일 처리
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary 